/*Importando a fonte escolhida  do google fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

/*colocando border box, para todos os divs terem o padding calculado*/
 *{
 box-sizing: border-box;
}

html{scroll-behavior:smooth !important}
/*tira a margem automática de 8px do body, e declara a fonte do google fonts*/
body{
  margin:0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
a{
  text-decoration: none; /*tira o azul sublinhado dos links*/
  color:inherit;
}
/*display flex faz tudo da ul ficar na mesma linha*/
header nav ul{
  list-style: none;
  display: flex;
}

/*a margem é declarada assim: margin: up-down left-right; neste caso tem 15px dos lados*/
header nav ul li{
  margin: 0 15px;
}

/*agora tudo o que está no nav tbm fica na mesma linha, e o space between foi feito para espaçar o nav da ul*/
header nav{
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

/*o que está escrito no nav ficará com a versão bold da fonte escolhida*/
header nav p{
  font-weight: bold;
}

/*calc calcula a altura inteira (100vh) menos 150px*/
header{
  height: calc(100vh - 150px);
  background:no-repeat center/cover url('header-image.jpg');
}

.header-content{
    margin: 150px auto;
    max-width: 400px;
    text-align: center;
}

.header-content h1{
  margin:0px;
  text-shadow: #E7792F 0.1em 0.1em 0.2em;
}

.header-content p{
  text-shadow: black 0.2em 0.2em 0.3em;
}

.header-content button{
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: bold;
    border: 0;
    color: #E7792F;
    background:white;
    font-family: 'Quicksand', sans-serif;
}

.header-content button:hover{ /*troca as coisas qndo o mouse passa*/
  background: #477F99;
  color: white;
  cursor: pointer;
}

.pacotes{
  background:#E8E3E8;
  padding: 15px;
}

.pacotes h1{
  margin:auto;
  text-align: center;
  color: #477F99;
  width:100%; */para ocupar a largura da tela*/
  text-shadow: #214763 0.04em 0.04em 0.04em;
}

.pacotes .pacotes-div{
    display: flex;
    margin:auto;
    max-width: 950px;
    justify-content: center;
    flex-wrap:wrap; /*quebra os itens conforme a tela for diminuindo*/
}

.pacotes .card {
  height: 350px;
  width: 250px;
  background: white;
  border-radius: 15px 0;
  color: #20432B;
  margin: 25px 25px;
  position: relative; /*quando usamos position absolute na .card-tag, ela deve ser relativa a .card, para ficar em cima da imagem. Por isso no .card usamos position relative*/
  justify-content: center;
}

.pacotes .img-card{
  height: 200px;
  width: 250px;
  border-radius: 15px 0;
}

.pacotes .card .card-content{
  text-align: center;
  padding: 0 15px;
}

.pacotes .card:hover {
    cursor: pointer;
    transform: scale(1.1); /*faz ficar maior quando passa o mouse*/
  }

.pacotes .card .card-content:hover h1{
  cursor: pointer;
}

.pacotes .card .card-content h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color: #20432B;
}

.pacotes .card .card-content ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.pacotes .card .card-content ul li{
  font-size: .8rem;
  display:flex;
  align-items: center;
  text-align: left;
}

.pacotes .card .card-content li svg{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.pacotes .card .card-tag-top{
  position: absolute; /*faz ficar por cima da imagem*/
  right: 0; /*deixa a tag à direita da imagem*/
  background:#C84630;
  color: white;
  margin-top: 15px;
  padding: 2.5px 10px;
  border-radius: 10px 0 0 10px;
  height: 25px;
  width: 97px;
  text-shadow: #20432B 0.04em 0.04em 0.06em;
}

.pacotes .card .card-tag-top p{
    vertical-align: middle;
    margin: 0;
    font-size: .9rem;
    align: center;
    text-align: center;
}

.pacotes .card .card-tag-bottom{
  position: absolute; /*faz ficar por cima da imagem*/
  left: 0; /*deixa a tag à direita da imagem*/
  background:#477F99;
  color: white;
  margin-top: 160px;
  padding: 2.5px 10px;
  border-radius: 0 10px 10px 0;
  height: 25px;
  width: 80px;
  text-shadow: #20432B 0.04em 0.04em 0.06em;
}

.pacotes .card .card-tag-bottom p{
    vertical-align: middle;
    margin: 0;
    font-size: .9rem;
    align: center;
    text-align: left;
}

.pacotes .card .card-tag-top-wit{
  position: absolute; /*faz ficar por cima da imagem*/
  right: 0; /*deixa a tag à direita da imagem*/
  background:#20432B;
  color: white;
  margin-top: 15px;
  padding: 2.5px 10px;
  border-radius: 10px 0 0 10px;
  height: 25px;
  width: 97px;
  text-shadow: #20432B 0.04em 0.04em 0.06em;
}

.pacotes .card .card-tag-top-wit p{
    vertical-align: middle;
    margin: 0;
    font-size: .9rem;
    align: center;
    text-align: center;
}

.servicos{
  background:#E8E3E8;
  padding: 15px;
}

.servicos h1{
  margin:auto;
  text-align: center;
  color: #477F99;
  width:100%; */para ocupar a largura da tela*/
  text-shadow: #214763 0.04em 0.04em 0.04em;

}

.servicos .servicos-div{
    display: flex;
    margin:auto;
    max-width: 950px;
    justify-content: center;
    flex-wrap:wrap; /*quebra os itens conforme a tela for diminuindo*/
}

.servicos .card {
    height: 130px;
    width: 130px;
    background: white;
    /* border-radius: 15px 0; */
    color: #20432B;
    margin: 15px 15px;
    position: relative;
    justify-content: center;
}
.servicos .card h1 svg{
  width: 30px;
  height: 30px;
  align: center;
}
.servicos .servicos-div .card h1{
  color: #20432B;
  text-align: center;
  margin: 10px auto 5px auto;
  font-size: .9rem;
}

.servicos .servicos-div .card p{
  color: #20432B;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: .8rem;
}

.servicos .servicos-div .card:hover h1 { /*troca as coisas qndo o mouse passa*/
  background: #477F99;
  color: white;
}

.servicos .servicos-div .card:hover p { /*troca as coisas qndo o mouse passa*/
  background: #477F99;
  color: white;
}

.servicos .servicos-div .card:hover { /*troca as coisas qndo o mouse passa*/
  background: #477F99;
  color: white;
}

.servicos .card h1 svg:hover{
  transform: scale(1.1);
  /*transition: all 1s;faz a transição de cores mais lenta*/
}

.contato{
    padding:60px 20%;
    background:#E8E3E8;
    position: relative;
}

.contato .contato-card{
  width:300px;
  height:200px;
  background:white;
  position: absolute;
  z-index: 99; /*é a preferência do que fica por cima, o maior fica em cima do menor*/
  top: calc(50% - 100px); /*como tem 300 de altura, pega metade da metade para ficar no meio*/
  left: calc(20% - 150px);
  color: #20432B;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius:8px;
}

.contato .contato-card ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 15px auto;

}

.contato .contato-card ul li{
  font-size: .8rem;
  display:flex;
  justify-content: left;
  margin-top: 10px;
}

.contato .contato-card li svg{
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.contato .contato-card h1{
  margin-top:25px;
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #20432B;
}

.contato-botao button{
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    color: #E7792F;
    background:white;
    font-family: 'Quicksand', sans-serif;
    border:0;
}

.contato-botao button:hover{ /*troca as coisas qndo o mouse passa*/
  background: #477F99;
  color: white;
  cursor: pointer;
}

.field{
  color:#20432B;
  background:#E8E3E8;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}

.field .field-card{
  width:300px;
  height:350px;
  background:white;
  color: #20432B;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius:8px;
  margin:auto;
  box-shadow: 10px 10px 5px grey;
}

.field h1{
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.field ul{
  color:#20432B;
  margin:auto;
  list-style: none;
  padding: 0;
}

.field ul li{
  padding:5px;
  text-align: left;
}

.field .field-card .msg {
height: 100px;
width:250px;
}

.contato-enviar{
  text-align: center;
  padding: 0;
}

.contato-enviar button{
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  color: #E7792F;
  background:white;
  font-family: 'Quicksand', sans-serif;
  border:0;
  font-size: .8rem;
}

.contato-enviar button:hover{ /*troca as coisas qndo o mouse passa*/
  background: #477F99;
  color: white;
  cursor: pointer;
}
  #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

       /*RESPONSIVIDADE!!! Sempre fica abaixo dos outros elementos*/
      @media(max-width:767px){

       }

       @media(max-width:480px){
         body{
           /*height: calc(100vh - 50px); calcula a altura usando o tamanho todo do body - 50px*/
           margin-bottom: 55px;
         }
         header nav ul{
           position: fixed;
           bottom: 0;
           left: 0;
           width: 100%;
           padding:0;
           background: #616984;
           height: 50px;
           margin:0;
           justify-content: space-between;
           display:flex; /* faz os itens ficarem na mesma linha */
           align-items: center;
           font-weight:bold;
           z-index: 99;
         }
         header nav p{
           width: 100%;
           text-align: center;
         }
         .contato{
           padding:15px 0;
         }

         .contato .contato-card{
           position:static; /*faz ele ficar como um div normal, posicionado antes do mapa*/
           margin:40px auto;
         }
       }
